ion-header {
  background-color: white !important;
  padding: 10px;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: none!important;
}
ion-buttons {
  height: 100%;
}
ion-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 60px;
  box-shadow: none;
}
